<template>
    <div class="sidenav text-center" id="app">
        <img src="@/assets/images/lnulogo.png" height="180" class="mt-5 mb-5">
        <router-link to="/adviser/info" :class="getRoute == '/adviser/info' ? 'active': ''" > 
          Adviser Info
        </router-link>
        <router-link to="/StudentList" :class="getRoute == '/StudentList' ? 'active': ''" > 
          Student List
        </router-link>
        <router-link to="/StudentAttendance" :class="getRoute == '/StudentAttendance' ? 'active': ''" > 
          Student Attendance
        </router-link>
        <router-link to="/StudentReport" :class="getRoute == '/StudentReport' ? 'active': ''" > 
          Student Report
        </router-link>
        <a href="" v-on:click.prevent="$bvModal.show('logoutModal')"> Logout </a>

        <!-- logoutModal -->
        <b-modal id="logoutModal" title="Logout" centered>
            <template>
                <p>Are you sure you want to logout?</p>
            </template>
            <template #modal-footer="{ cancel}">
                <b-button size="sm" variant="danger" @click="cancel()">
                    Cancel
                </b-button>
                <b-button size="sm" variant="primary" @click="logout">
                    Logout
                </b-button>
            </template>
        </b-modal>
    </div>
</template>
<script>
export default {

  data() {
    return {
      data: "",
    };
  },
  mounted() {
    
  },
  computed: {
    getRoute: function(){
      return this.$route.path
    },
   
  },
  methods: {
    async logout(){
      const res = await this.$store.dispatch('auth/logoutUser')
      if(res.status == 200){
        this.$router.push('/login/teacher')
      }
    }
  }
};
</script>
<style>
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgb(1, 155, 202), rgb(117, 212, 218));
  overflow-x: hidden;
  transition: all 400ms;
}

.sidenav a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(241, 241, 241);
  display: block;
  padding: 1rem 2rem ;
  font-family: 'Calibri', sans-serif;
  transition: all 250ms;
}

.sidenav a:hover {
  background: rgba(29, 73, 77, 0.274);
}

.element-container {
  width: 100%;
  height: 66px;
  position: relative;
  
}

.active {
  position: relative;
  background: rgba(34, 88, 92, 0.705);
  transition: all 500ms;
}

.active-management {
  position: relative;
  height: 70px;
  background: rgba(196, 196, 196, 0.7);
}

</style>