<template>
  <div id="app">
    <div class="container-fluid p-0 m-0" style="height: 100vh">
      <div class="row justify-content-center d-flex form-container">
        <div class="col-10 col-md-10 col-lg-10 text-center">
          <img src="@/assets/images/lnulogo.png" alt="" class="img-fluid mb-3 logo-landing">
          <p class="heading-title">On-the Job Training (OJT) Monitoring System</p>
          <h5 class="text-light lead mb-3 mt-3">I am a</h5>
          <div class="row justify-content-center">
            <router-link to="/Login" class="btn btn-primary mr-3 shadow-sm" >Student</router-link>
            <router-link to="/login/teacher" class="btn btn-primary shadow-sm">Teacher</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
    
}
</script>