<template>
  <div id="app">
    <div class="container-fluid p-0 m-0" style="height: 100vh">
      <div class="row h-100 align-items-center p-0 m-0">
        <div class="row justify-content-center d-flex form-container">
          <div class="form-card p-0 m-0" style="width: 25rem">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 h-100 p-5 m-0">
                <h2 class="text-center mb-4 text-white">Adviser Login</h2>
                <div class="">
                  <div class="form-group">
                    <label class="" for="email">Email</label>
                    <input
                      class="form-control"
                      type="text"
                      id="email"
                      v-model="data.email"
                      placeholder="Email"
                    />
                  </div>
                  <div class="form-group">
                    <label class="" for="password">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      v-model="data.password"
                      placeholder="Password"
                    />
                  </div>
                  <div class="form-group mt-4">
                    <button
                      class="btn-primary form-control"
                      v-on:click.prevent="loginAccount"
                    >
                      Login
                    </button>
                  </div>
                  <p>
                    <small>
                      Don't have an account?
                      <router-link to="/register/teacher"
                        ><a href="">Register </a></router-link
                      ></small
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: {
        email: "",
        password: "",
      },
    };
  },
  mounted(){
     
  },
  methods: {
    async loginAccount() {
      if (this.data.email == "") 
        return this.$toast.error("Email is required");
      if (this.data.password == "")
        return this.$toast.error("Password is required");

      const res = await this.$store.dispatch('auth/LogInUser', this.data);
      console.log(res);

      if(res.status == 200){
        this.$router.push('/adviser/info');
        return this.$toast.success('Logged-in successfully!');
      }
      else {
        return this.$toast.error('Something went wrong');
      }
    },
  },
};
</script>

<style>
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-card {
  background: rgba(255, 255, 255, 0.349);
  border-top: 1.8px solid rgba(255, 255, 255, 0.432);
  border-bottom: 1.8px solid rgba(255, 255, 255, 0.466);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.233);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 3px;
  position: relative;
}

.container-fluid {
  background: linear-gradient(to bottom, rgb(1, 155, 202), rgb(117, 212, 218));
  overflow: hidden;
}
</style>
