<template>
  <div id="app">
    <div class="container-fluid p-0 m-0" style="height: 100vh">
      <div
        class="row w-100 h-100 align-items-center justify-content-center d-flex"
      >
        <div class="col-10 col-sm-10 col-md-10 col-lg-8">
          <div class="form-card pt-4 pb-4 m-0">
            <div class="row justify-content-center">
              <h4 class="mb-4 mt-2">
                Welcome, we need some of your informations.
              </h4>
              <form>
                <div class="form-row">
                  <div class="col">
                    <label for="firstname" class="col-10 col-sm-10 col-md-10"
                      >First Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="firstname"
                      placeholder=""/>
                  </div>
                  <div class="col">
                    <label for="middlename" class="col-10 col-sm-10 col-md-12">Middle Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="middlename"
                      placeholder=""
                    />
                  </div>
                  <div class="col">
                    <label for="lastname" class="col-10 col-sm-10 col-md-10">Last Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="lastname"
                      placeholder=""
                    />
                  </div>
                </div>
                <div class="form-row mt-2">
                  <div class="col">
                    <label for="firstname" class="col-10 col-sm-10 col-md-10">Student ID</label>
                    <input
                      type="text"
                      class="form-control"
                      id="firstname"
                      placeholder=""
                    />
                  </div>
                  <div class="col">
                    <label for="middlename" class="col-10 col-sm-10 col-md-10">Email</label>
                    <input
                      type="text"
                      class="form-control"
                      id="middlename"
                      placeholder=""
                    />
                  </div>
                  <div class="col">
                    <label for="lastname" class="col-10 col-sm-10 col-md-10"
                      >Gender</label
                    >
                    <select
                      type="text"
                      class="custom-select"
                      id="lastname"
                      placeholder=""
                    >
                      <option value="" disabled selected>
                        Please select a gender
                      </option>
                      <option value="Male">Male</option>
                      <option value="Male">Female</option>
                    </select>
                  </div>
                </div>
                <div class="row w-100 mt-4 justify-content-end">
                  <div class="form-row">
                    <div class="col">
                      <button class="btn btn-success">Proceed</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: {
        first_name: "",
        middle_name: "",
        last_name: "",
        password: "",
        cpass: "",
        studentid: "",
        email: "",
      },
    };
  },
  components: {},
};
</script>

<style>
.form-card {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 5px;
}

.container-fluid {
  background: linear-gradient(to bottom, rgb(1, 155, 202), rgb(117, 212, 218));
  overflow: hidden;
}
</style>
