<template>
  <div id="app">
    <div class="container-fluid p-0 m-0" style="height: 100vh">
      <div class="row h-100 align-items-center p-0 m-0">
        <div class="row w-100 justify-content-center form-container">
          <div class="form-card m-0 pt-4 pb-4" style="width: 25rem">
            <div class="row justify-content-center">
              <div class="col-10 col-sm-9 col-md-6 col-lg-8">
                <h3 class="mt-1 mb-3">Create Account</h3>
                <form>
                  
                  <div v-if="!isNext">
                    <div class="form-group">
                      <label for="firstname">First Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="firstname"
                        v-model="data.first_name"
                        aria-describedby="emailHelp"
                      />
                    </div>
                    <div class="form-group">
                      <label for="middlename">Middle Name</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="data.middle_name"
                        id="middlename"
                      />
                    </div>
                    <div class="form-group">
                      <label for="lastname">Last Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="lastname"
                        v-model="data.last_name"
                        aria-describedby="emailHelp"
                      />
                    </div>
                    <div class="form-group">
                      <label for="middlename">Gender</label>
                      <select class="custom-select" id="gender" v-model="data.gender_id">
                        <option value="Male" selected disabled>
                          Please select a gender
                        </option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary" v-on:click.prevent="nextForm">
                      Proceed
                    </button>
                  </div>
                  <div v-else>
                    <div class="form-group">
                      <label for="emailaddress">Email Address</label>
                      <input type="email" class="form-control" id="emailaddress" v-model="data.email" aria-describedby="emailHelp"/>
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" v-model="data.password" aria-describedby="emailHelp"/>
                    </div>
                    <div class="form-group">
                      <label for="confirmpassword">Confirm Password</label>
                      <input type="password" class="form-control" id="confirmpassword" v-model="data.confirmpassword" aria-describedby="emailHelp"/>
                    </div>
                    <div class="form-group">
                      <label for="department">Department</label>
                      <input type="text" class="form-control" id="department" v-model="data.department" aria-describedby="emailHelp"/>
                    </div>
                    <div class="form-group">
                      <label for="position">Position</label>
                      <input type="text" class="form-control" id="position" v-model="data.position" aria-describedby="emailHelp"/>
                    </div>
                    <button type="submit" class="btn btn-sm btn-secondary mr-2" v-on:click.prevent="isNext = false">
                      Return
                    </button>
                    <button type="submit" class="btn btn-sm btn-success mr-2" v-on:click.prevent="createAccount">
                      Sign-up
                    </button>
                  </div>
                  <p><small>Already have an account? <router-link to="/login/teacher">Login</router-link></small></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      data: {
        first_name: "",
        middle_name: "",
        last_name: "",
        gender_id: "",
        department: "",
        position: "",
        email: "",
        password: "",
        confirmpassword: "",
      },
      isNext: false,
    };
  },
  methods: {
    nextForm() {
      this.isNext = false;

      if (this.data.first_name == "")
        return this.$toast.error("First Name is required");
      if (this.data.middle_name == "")
        return this.$toast.error("Middle Name is required");
      if (this.data.last_name == "")
        return this.$toast.error("Last Name is required");
      if (this.data.gender_id == "")
        return this.$toast.error("Gender is required");

      this.isNext = true;
    },
    async createAccount(){
      if (this.data.email == '')
        return this.$toast.error("Email is required");
      if (this.data.password == '')
        return this.$toast.error("Password is required");
      if (this.data.confirmpassword == '')
        return this.$toast.error("Confirm Password is required");
      if (this.data.department == '')
        return this.$toast.error("Department is required");
      if (this.data.position == '')
        return this.$toast.error("Position is required");

      const res = await this.$store.dispatch('user/storeUser', this.data);
      if(res.status == 200){
          this.clearFields();
        return this.$toast.success('Account created successfully!');
      }
    },
    clearFields(){
      this.data = {
        first_name: "",
        middle_name: "",
        last_name: "",
        gender_id: "",
        department: "",
        position: "",
        email: "",
        password: "",
        confirmpassword: "",
      }
    }
  },
};
</script>

<style>
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-card {
  background: rgba(255, 255, 255, 0.349);
  border-top: 1.8px solid rgba(255, 255, 255, 0.432);
  border-bottom: 1.8px solid rgba(255, 255, 255, 0.466);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.233);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 3px;
  position: relative;
}

.container-fluid {
  background: linear-gradient(to bottom, rgb(1, 155, 202), rgb(117, 212, 218));
  overflow: hidden;
}
</style>
