html, body {
  line-height: 1.9rem !important;
}

p, h1, h2, h3, h4, h5, h6, label {
  margin-bottom: 0 !important;
}

.container-fluid{
  background: linear-gradient(to bottom, rgb(1, 155, 202), rgb(117, 212, 218));
  overflow: hidden;
}

.text-hover{
  color:white;
}
.text-hover:hover{
  text-shadow: 0px 5px 3px rgba(66, 66, 66, 0.925);
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-landing {
  max-width: 200px;
  max-height: 200px;
}

.heading-title {
  font-size: 2rem;
  color: white;
  font-weight: 700;
}