<template>
  <div id="app">
    <SideBarTeacher isActive="index" />
    <div class="container-fluid p-0 m-0">
      <div class="info-container">
        <div class="row w-100 h-100 p-0 m-0">
          <div class="col-10 col-sm-10 col-md-10 col-lg-8">
            <p class="adviser-info">
              Name: {{ auth_user.adviser.last_name }},
              {{ auth_user.adviser.first_name }}
              {{ auth_user.adviser.middle_name[0] }}
            </p>
            <p class="adviser-info">
              Email: {{ auth_user.email }}
            </p>
            <p class="adviser-info">
              Gender: {{ auth_user.adviser.gender.gender }}
            </p>
            <p class="adviser-info">
              Position: {{ auth_user.adviser.position }}
            </p>
            <p class="adviser-info">
              Department: {{ auth_user.adviser.department }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Modal -->
    <b-modal id="editModal" title="Edit Information">
      <template>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="FirstName"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="MiddleInitial"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="LastName"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Department"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Position"
          />
        </div>
      </template>
      <template #modal-footer="{ ok, cancel }">
        <b-button size="sm" variant="danger" @click="cancel()">
          Cancel
        </b-button>
        <b-button size="sm" variant="primary" @click="ok()"> Save </b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import SideBarTeacher from "@/components/navigations/SidebarTeacher";
import { mapGetters } from "vuex";
export default {
  components: { SideBarTeacher },
  async mounted() {
    const res = await this.$store.dispatch("auth/checkUser");
    if (!res.status == 200 || res.status == 500) {
      console.log('Hello')
      localStorage.removeItem("auth");
      this.$router.push("/login/teacher");
    }
    
  },
  computed: {
    ...mapGetters({
      auth_user: "auth/getUser",
    }),

  },
};
</script>

<style>
.info-container {
  margin-left: 280px;
  margin-top: 100px;
}

.text-inform {
  font-size: 1.8rem;
}

.container-fluid {
  overflow: hidden;
  background: none !important;
}
</style>