<template>
  <div id="app">
    <SideBarTeacher />
    <div class="studtable-container">
      <div class="container m-0">
        <div class="row justify-content-spacebetween">
          <div class="col-5 col-sm-5 col-md-5 col-lg-6">
            <h4 class="ml-5 mb-4">Student List</h4>
          </div>
          <div class="col-5 col-sm-5 col-md-4 col-lg-3">
            <input type="text" placeholder="Search" class="form-control" />
          </div>
          <div class="col-2 col-sm-2 col-md-3 col-lg-3">
            <button
              class="btn btn-sm btn-primary"
              v-on:click.prevent="$bvModal.show('addModal')"
            >
              Enroll
            </button>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-10 col-sm-10 col-md-11 col-lg-11 h-100 m-0">
            <table class="table table-hover">
              <thead class="bg-info text-light">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Middle Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Section</th>
                  <th scope="col">Options</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="student in students" :key="student.id">
                  <th scope="row">{{ student.id }}</th>
                  <td>{{ student.first_name }}</td>
                  <td>{{ student.middle_name }}</td>
                  <td>{{ student.last_name }}</td>
                  <td>{{ student.gender.gender }}</td>
                  <td>{{ student.section.section }}</td>
                  <td>
                    <button
                      class="btn btn-sm btn-primary mr-2"
                      v-on:click="showUpdate(student)"
                    >
                      Edit
                    </button>
                    <button
                      class="btn btn-sm btn-danger"
                      v-on:click="showDelete(student.id)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- editModal -->
    <b-modal id="editModal" title="Edit Student">
      <template>
        <div class="row justify-content-center">
          <div class="col-8 col-sm-8 col-md-8 col-lg-8">
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input
                type="text"
                class="form-control"
                id="firstname"
                v-model="data.first_name"
                aria-describedby="firstname"
              />
            </div>
            <div class="form-group">
              <label for="middlename">Middle Name</label>
              <input
                type="text"
                class="form-control"
                v-model="data.middle_name"
                id="middlename"
              />
            </div>
            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="lastname"
                v-model="data.last_name"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="form-group">
              <label for="middlename">Gender</label>
              <select
                class="custom-select"
                id="gender"
                v-model="data.gender_id"
              >
                <option value="Male" selected disabled>
                  Please select a gender
                </option>
                <option value="1">Male</option>
                <option value="2">Female</option>
              </select>
            </div>
            <div class="form-group">
              <label for="middlename">Section</label>
              <select
                class="custom-select"
                id="gender"
                v-model="data.section_id"
              >
                <option value="" disabled selected
                  >Please select a section</option
                >
                <option
                  :value="section.id"
                  v-for="section in sections"
                  :key="section.id"
                  >{{ section.section }}</option
                >
              </select>
            </div>
          </div>
        </div>
      </template>
      <template #modal-footer="{ ok, cancel }">
        <b-button size="sm" variant="danger" @click="cancel()">
          Cancel
        </b-button>
        <b-button size="sm" variant="primary" @click="UpdateStudent">
          Update Student
        </b-button>
      </template>
    </b-modal>

    <!-- Add Modal --->
    <b-modal id="addModal" title="Add Student" centered>
      <template>
        <div class="row justify-content-center">
          <div class="col-8 col-sm-8 col-md-8 col-lg-8">
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input
                type="text"
                class="form-control"
                id="firstname"
                v-model="data.first_name"
                aria-describedby="firstname"
              />
            </div>
            <div class="form-group">
              <label for="middlename">Middle Name</label>
              <input
                type="text"
                class="form-control"
                v-model="data.middle_name"
                id="middlename"
              />
            </div>
            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="lastname"
                v-model="data.last_name"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="form-group">
              <label for="middlename">Gender</label>
              <select
                class="custom-select"
                id="gender"
                v-model="data.gender_id"
              >
                <option value="Male" selected disabled>
                  Please select a gender
                </option>
                <option value="1">Male</option>
                <option value="2">Female</option>
              </select>
            </div>
            <div class="form-group">
              <label for="middlename">Section</label>
              <select
                class="custom-select"
                id="gender"
                v-model="data.section_id"
              >
                <option value="" disabled selected
                  >Please select a section</option
                >
                <option
                  :value="section.id"
                  v-for="section in sections"
                  :key="section.id"
                  >{{ section.section }}</option
                >
              </select>
            </div>
          </div>
        </div>
      </template>
      <template #modal-footer="{ ok, cancel }">
        <b-button size="sm" variant="danger" @click="cancel()">
          Cancel
        </b-button>
        <b-button size="sm" variant="primary" @click="SaveStudent">
          Add Student
        </b-button>
      </template>
    </b-modal>

    <!-- Delete Modal --->
    <b-modal id="deleteModal" title="Delete Student" centered>
      <template>
        <p>Are you sure you want to delete this student?</p>
      </template>
      <template #modal-footer="{ ok, cancel }">
        <b-button size="sm" variant="danger" @click="cancel()">
          Cancel
        </b-button>
        <b-button size="sm" variant="primary" @click="DeleteStudent">
          Delete Student
        </b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import SideBarTeacher from "@/components/navigations/SidebarTeacher";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      data: {
        first_name: "",
        middle_name: "",
        last_name: "",
        gender_id: "",
        section_id: "",
      },
      id: 0,
    };
  },
  components: { SideBarTeacher },
  methods: {
    showDelete(id) {
      this.id = id;
      this.$bvModal.show("deleteModal");
    },
    showUpdate(student) {
      this.id = student.id;
      this.data.first_name = student.first_name;
      this.data.middle_name = student.middle_name;
      this.data.last_name = student.last_name;
      this.data.gender_id = student.gender.id;
      this.data.section_id = student.section.id;
      this.$bvModal.show("editModal");
    },
    async SaveStudent() {
      var data = {
        first_name: this.data.first_name,
        middle_name: this.data.middle_name,
        last_name: this.data.last_name,
        gender_id: this.data.gender_id,
        section_id: this.data.section_id,
        adviser_id: this.user.adviser_id,
      };

      const response = await this.$store.dispatch("user/saveStudent", data);

      if (response.status == 200 || response.status == 201) {
        return this.$toast.success("Student created successfully!");
      }
    },
    async UpdateStudent() {
      var data = {
        first_name: this.data.first_name,
        middle_name: this.data.middle_name,
        last_name: this.data.last_name,
        gender_id: this.data.gender_id,
        section_id: this.data.section_id,
        adviser_id: this.user.adviser_id,
      };
      const reponse = await this.$store.dispatch("user/updateStudent", {
        data: data,
        id: this.id,
      });
      if (reponse.status == 200 || reponse.status == 204) {
        return this.$toast.success("Student udapted successfully!");
      }
    },
    async DeleteStudent() {
      const reponse = await this.$store.dispatch("user/deleteStudent", this.id);
      if (reponse.status == 200 || reponse.status == 204) {
        return this.$toast.success("Student deleted successfully!");
      }
    },
  },
  async mounted() {
    const res = await this.$store.dispatch("auth/checkUser");
    if (!res.status == 200) {
      localStorage.removeItem("auth");
      return this.$router.push("/login/teacher");
    }
    await this.$store.dispatch("user/fetchStudents");
    await this.$store.dispatch("user/fetchSections");
  },
  computed: {
    ...mapGetters({
      auth_user: "auth/getUser",
      sections: "user/getSections",
      students: "user/getStudents",
      user: "auth/getUser",
    }),
  },
};
</script>

<style>
.studtable-container {
  margin-left: 280px;
  margin-top: 100px;
}

.text-inform {
  font-size: 1.8rem;
}

.container-fluid {
  overflow: hidden;
}
</style>
