<template>
  <div id="app">
    <SideBarTeacher />
    <div class="container p-0 m-0">
      <div class="row h-100 align-items-center p-0 m-0">
        <div class="row justify-content-center d-flex reporttable-container">
          <h1 class="text-center mt-5">Students Report</h1>
          <div class="col-12 h-100 p-5 m-0">
            <form class="form-inline my-2 my-lg-0 justify-content-end mb-3">
              <input
                class="form-control mr-sm-2 mb-3"
                type="search"
                id="basic-addon1"
                aria-describedby="basic-addon1"
                placeholder="Search"
                aria-label="Search"
              />
              <div class="input-group-prepend">
                <span class="input-group-text mb-3 mr-5" id="basic-addon1"
                  >Search</span
                >
                <button
                  type="button"
                  class="btn btn-md btn-primary float-right mb-3"
                  data-toggle="modal"
                  @click="$bvModal.show('addModal')"
                >
                  Add
                </button>
              </div>
            </form>
            <table class="table table-hover border">
              <thead class="head thead-primary">
                <tr>
                  <th scope="col">Student ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Activity</th>
                  <th scope="col">Output</th>
                  <th scope="col">Date Submitted</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1200399</td>
                  <td>Danica Jones</td>
                  <td>10/02/21</td>
                  <td>
                    <p>
                      <a
                        type="button"
                        data-toggle="modal"
                        @click="$bvModal.show('viewActivity')"
                        >view</a
                      >
                    </p>
                  </td>
                  <td>
                    <p>
                      <a
                        type="button"
                        data-toggle="modal"
                        @click="$bvModal.show('viewOutput')"
                        >view</a
                      >
                    </p>
                  </td>
                  <td>10/02/21</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- AddModal -->
    <b-modal id="addModal" title="Add Report">
      <template>
        <div class="form-group">
          <label>Activity</label>
          <textarea
            type="text"
            class="form-control"
            id="name"
            placeholder="Activities"
            rows="5"
          ></textarea>
        </div>
        <div class="form-group">
          <label>Output</label>
          <textarea
            type="text"
            class="form-control"
            id="name"
            placeholder="Outputs"
            rows="5"
          ></textarea>
        </div>
      </template>
      <template #modal-footer="{ ok, cancel }">
        <b-button size="sm" variant="danger" @click="cancel()">
          Close
        </b-button>
        <b-button size="sm" variant="primary" @click="ok()"> Save </b-button>
      </template>
    </b-modal>

    <!-- editOutput -->
    <b-modal id="editOutput" title="Edit Output">
      <template>
        <div class="form-group">
          <label>Outputs</label>
          <input type="text" class="form-control" id="name" placeholder="" />
        </div>
      </template>
      <template #modal-footer="{ ok, cancel }">
        <b-button size="sm" variant="danger" @click="cancel()">
          Cancel
        </b-button>
        <b-button size="sm" variant="primary" @click="ok()"> Update </b-button>
      </template>
    </b-modal>

    <!-- editActivity -->
    <b-modal id="editActivity" title="Edit Activity">
      <template>
        <div class="form-group">
          <label>Activities</label>
          <input type="text" class="form-control" id="name" placeholder="" />
        </div>
      </template>
      <template #modal-footer="{ ok, cancel }">
        <b-button size="sm" variant="danger" @click="cancel()">
          Cancel
        </b-button>
        <b-button size="sm" variant="primary" @click="ok()"> Update </b-button>
      </template>
    </b-modal>

    <!-- Activity -->
    <b-modal id="viewActivity" title="Activities">
      <template>
        <div class="form-group">
          <p>Date: 10/2/21</p>
        </div>
        <div class="form-group">
          <p>Time: 1:00 - 5:00 pm</p>
        </div>
        <div class="form-group">
          <p>Activities:</p>
        </div>
        <div class="form-group ml-3">
          <p>Orientation</p>
          <p>Seminar</p>
        </div>
      </template>
      <template #modal-footer="{ cancel }">
        <b-button size="sm" variant="danger" @click="cancel()">
          Close
        </b-button>
        <b-button
          size="sm"
          variant="primary"
          @click="$bvModal.show('editActivity'), cancel()"
        >
          Edit
        </b-button>
      </template>
    </b-modal>

    <!-- Output -->
    <b-modal id="viewOutput" title="Outputs">
      <template>
        <div class="form-group">
          <p>Date: 10/2/21</p>
        </div>
        <div class="form-group">
          <p>Time: 1:00 - 5:00 pm</p>
        </div>
        <div class="form-group">
          <p>Outputs:</p>
        </div>
        <div class="form-group ml-3">
          <p>Orientation</p>
          <p>Seminar</p>
        </div>
      </template>
      <template #modal-footer="{ cancel }">
        <b-button size="sm" variant="danger" @click="cancel()">
          Close
        </b-button>
        <b-button
          size="sm"
          variant="primary"
          @click="$bvModal.show('editOutput'), cancel()"
        >
          Edit
        </b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import SideBarTeacher from "@/components/navigations/SidebarTeacher";
export default {
  components: { SideBarTeacher },
};
</script>

<style>
.reporttable-container {
  position: absolute;
  top: 5%;
  left: 25%;
}

.text-inform {
  font-size: 1.8rem;
}

.container-fluid {
  overflow: hidden;
}
</style>